<div class="profile-posts-component">
    <div class="profile-posts-container">
        <!--Refactor this to a template-->
        <!--Remove &nbsp sheninigans--> 
        <mat-card-title>{{user.username}} kweets</mat-card-title>
        <mat-list>
            <div class ="profile-post" *ngFor="let post of posts">
                 <mat-list-item>
                    <div class="profile-post-title">
                        <b>{{post.poster.username}} kweets: &nbsp;</b>
                    </div> 

                    <div class="profile-post-content">
                        {{post.content}} &nbsp;
                    </div>    

                    <div class="profile-post-date">
                        {{post.date}} &nbsp;
                    </div>
                </mat-list-item>
            </div>
        </mat-list>
    </div>
</div>