<mat-toolbar>
    <form>
        <mat-toolbar-row>
            <h3>Sign-up</h3>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <mat-form-field>
                <input matInput placeholder="E-mail adress" type="email" required>
            </mat-form-field>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" required>
            </mat-form-field>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <mat-form-field>
                <input matInput placeholder="Confirm password"  type="password" required>
            </mat-form-field>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-raised-button type="submit">Sign-up</button>
        </mat-toolbar-row>
    </form> 
</mat-toolbar>
